<hr />
<footer>
    <p><a href="https://heli06.github.io/" target="_blank">原作：BYVoid 扩展：鸑鷟</a> 2016</p>
</footer>
</div>
</body>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>